# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Makefiles should be generated at build
Makefile

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Unix build stuff
.qmake.*
RasterManConsole/rasterman

# User Files
*.pro.user
RasterManager.pro.user.3.2-pre1
